<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <title>Главная страница</title>
</head>
<body>
    <div class="container">
        <h1 class="title"><a href="/">Kafka messages</a></h1>
        <div id="mainForm" class="form">
            <input type="text" name="data" placeholder="Введите сообщение">
            <button>Создать</button>
            <div class="block"></div>
        </div>
    </div>
    <script src="/assets/js/script.js"></script>
</body>
</html>